:root {
  --heading-color: #000;
  --text-color: #333;
  --background-primary: #f4f4f9;
  --pure-white: #fff;

  --pp-placeholder: #1976d2;

  --youtube: #ff0000;
  --youtube-accessible: #b90000;
  --github: #181717;
  --linkedin: #0a66c2;
}

/* ========================================================================= */
/* BASE STYLES & LAYOUT                                                      */
/* ========================================================================= */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", system-ui;
  background-color: var(--background-primary);
  color: var(--text-color);
  line-height: 1.6;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ========================================================================= */
/* BLOCK: PROFILE CARD (.profile-card)                                       */
/* ========================================================================= */

.profile-card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "photo info"
    "desc desc"
    "social social";
  gap: 2rem;

  max-width: 40rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  background-color: var(--pure-white);
  border-radius: 16px;
  padding: 2rem;
}

/* ------------------------------------------------------------------------- */
/* ELEMENTS: Photo & Placeholder                                             */
/* ------------------------------------------------------------------------- */

.profile-card__profile-photo {
  grid-area: photo;
}

.profile-card__placeholder {
  width: 8rem;
  height: 8rem;
  background-color: var(--pp-placeholder);
  color: var(--pure-white);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  font-size: 2rem;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------------------------------------------------ */
/* ELEMENTS: Information & Name (.profile-card__information, .profile-card__name) */
/* ------------------------------------------------------------------------------ */

.profile-card__information {
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-card__name {
  font-size: 2rem;
  color: var(--heading-color);
}

/* ------------------------------------------------------------------------- */
/* ELEMENTS: Stats (.profile-card__stats, .profile-card__stat-item, vb.)     */
/* ------------------------------------------------------------------------- */

.profile-card__stats {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.profile-card__stat-item:not(:first-child) {
  padding: 0 2rem;
}

.profile-card__stat-item:first-child {
  padding: 0 2rem 0 0.5rem;
}

.profile-card__stat-item:not(:last-child) {
  border-right: 1px solid #ddd;
}

.profile-card__stat-number {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  color: var(--pp-placeholder);
}

.profile-card__stat-label {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* ------------------------------------------------------------------------- */
/* ELEMENT: Description (.profile-card__description)                         */
/* ------------------------------------------------------------------------- */

.profile-card__description {
  grid-area: desc;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 12px 1rem;
}

/* ------------------------------------------------------------------------- */
/* ELEMENTS: Social Media (.profile-card__social-media, .profile-card__link) */
/* ------------------------------------------------------------------------- */

.profile-card__social-media {
  grid-area: social;
}

.profile-card__social-media-heading {
  color: var(--heading-color);
  margin-bottom: 1.5rem;
  text-align: center;
}

.profile-card__links-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.profile-card__list-item {
  list-style-type: none;
}

.profile-card__link {
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
}

/* ========================================================================= */
/* MODIFIERS: Link Stilleri (.profile-card__link--)                          */
/* ========================================================================= */

.profile-card__link--youtube {
  border-color: var(--youtube-accessible);
  color: var(--youtube-accessible);
}

.profile-card__link--youtube:hover {
  background-color: var(--youtube);
  border-color: var(--youtube);
  color: var(--pure-white);
}

.profile-card__link--github {
  border-color: var(--github);
  color: var(--github);
}

.profile-card__link--github:hover {
  background-color: var(--github);
  border-color: var(--github);
  color: var(--pure-white);
}

.profile-card__link--linkedin {
  border-color: var(--linkedin);
  color: var(--linkedin);
}

.profile-card__link--linkedin:hover {
  background-color: var(--linkedin);
  border-color: var(--linkedin);
  color: var(--pure-white);
}